<div class="container col-md-10 mt-5 mb-5">
    <h4>Lista Meus Estabelecimentos</h4>
        <p-table #dt
        [value]="estabelecimentos"
        [responsive]="true"
        [scrollable]="true"
        [paginator]="true" 
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[5,10,25,50]"
        styleClass="p-datatable-striped"
        [loading]="loading"
        [filterDelay]="0" 
        [globalFilterFields]="['idEstab','nomeFantasia','telefoneCel','email','categoria','segmento']">                        
        <ng-template pTemplate="caption" class="row">
            <div class="table-header">           
                <span class="p-input-icon-left  p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input #pesquisa pInputText type="text" (input)="dt.filterGlobal(pesquisa.value, 'contains')" placeholder="Pesquisar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header"  class="row">
            <tr>
                <th pSortableColumn="idEstab" class="th-id">Matricula <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nomeFantasia" class="th-nomeFantasia">Nome<p-sortIcon field="nomeFantasia"></p-sortIcon></th>
                <th pSortableColumn="telefoneCel"  class="th-telefoneCel">Celular<p-sortIcon field="telefoneCel"></p-sortIcon></th>
                <th pSortableColumn="email" class="th-email">E-mail <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="categoria" class="th-categoria">Categoria<p-sortIcon field="categoria"></p-sortIcon></th>
                <th pSortableColumn="segmento" class="th-segmento">Segmento <p-sortIcon field="segmento"></p-sortIcon></th>
                <th class="botoes"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estabelecimento  class="row">
            <tr>
                <td class="th-id">{{estabelecimento.idEstab}}</td>
                <td class="th-nomeFantasia">{{estabelecimento.nomeFantasia}}</td>
                <td class="th-telefoneCel">{{estabelecimento.telefoneCel}}</td>
                <td class="th-email">{{estabelecimento.email}}</td>
                <td class="th-categoria">{{estabelecimento.categoria}}</td>
                <td class="th-segmento">{{estabelecimento.segmento}}</td> 
                <td class="deletar-atualizar">
                    <p-button 
                        routerLink="/meus-estab/cadastro/{{estabelecimento.idEstab}}" 
                        class="espaco" 
                        [title] = "'Editar Estabelecimento' + estabelecimento.nomeFantasia" 
                        icon="pi pi-pencil"></p-button>

                    <p-button class="p-button-danger"
                        (click)="excluir(estabelecimento.idEstab)" 
                        type="button"
                        [title] = "'Excluir Estabelecimento ' + estabelecimento.nomeFantasia" 
                        icon="pi pi-trash"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" routerLink="/meus-estab/cadastro/">Novo Estabelecimento</p-button>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="bottom-center" key="toast"></p-toast>
