.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  background-color: rgb(18, 83, 134);
  font-weight: 1em;
  z-index: 999;
}

.navbar-collapse {
  color: white;
  background-color: rgb(18, 83, 134, 40%);
  padding-left: 1em;
}

.dropdown-menu {
  background-color: rgb(18, 83, 134, 40%);
}

.dropdown-item {
  color: white;
}

.navbar-img {
  margin: 0 2px;
  width: 38px;
}

.form-inline {
  margin-left: 10px;
}

