<!--
  <div class="row">
  <ul>
    <li class="item">HOME</li>
    <li class="item">SOBRE</li>
    <li class="item">GASTRONOMIA</li>
    <li class="item">HOSPEDAGEM</li>
    <li class="item">O QUE FAZER</li>
    <li class="item">ROTEIROS</li>
    <li class="item">CONTATO</li>
    <li class="item">LOGIN / CADASTRAR-SE</li>
  </ul>
  </div>
<div class="row">
  <ul>
    <img src="/assets/imagens/logo_rodape.png"
      alt="cadastur" 
      height="80px">
  </ul>
</div>
-->

<body>
  <footer>
    <div class="container">
      <div class="sec sobrenos">
        <h2>Sobre Nós</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci incidunt dolor sequi quod aperiam
          consectetur exercitationem quasi beatae, iste, ad maiores velit
          consequuntur!</p>
        <ul class="sci">
          <li><img src="assets/imagens/TURISTA PROTEGIDO.png" height="50px">
          <li><img src="assets/imagens/TURISTA RESPONSAVEL.png" height="50px">
          <li><img src="assets/imagens/TURISTA PROTEGIDO.png" height="50px">
          <li><img src="assets/imagens/TURISTA RESPONSAVEL.png" height="50px">
        </ul>
      </div>  
        <div class=" sec quicklinks">
          <h2>Links Rápidos</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Gastronomia</a></li>
            <li><a href="#">Hospedagem</a></li>
            <li><a href="#">O Que Fazer</a></li>
            <li><a href="#">Roteiros</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Busca</a></li>
            <li><a href="#">Login / Cadastre-se</a></li>
            <li><a href="#">Política de Privacidade</a></li>
          </ul>
        </div>
        <div class="sec contato">
          <h2>Fale Conosco</h2>
          <ul class="info">
            <li>
              <span></span>
              <span>Av. Beiramar, 1338<br>
                Bertioga / SP<br> CEP 12345-678<br></span>
            </li>
            <li>
              <span></span>
              <p><a href="tel:+1234567890">12 3456-7890</a><br>
                <a href="tel:+1234567891">12 3456-7891</a>
              </p>
            </li>
            <li>
              <span></span>
              <p><a href="mailto:beiramar@mar.com.br">Faleconosco@gmail.com</a></p>
            </li>
          </ul>
        </div>
        -->