h3   {text-align: center;
      font-style: bold;
      color: black;
      border-bottom: 2px solid rgb(68, 68, 68);
      padding: 1px;   
      padding-bottom:10px;   }  


.alinha {
      vertical-align:text-top;
}

.chkcateg {
      font-family: Corbel;
}

.serv-item {
      margin-right: 15px;
}

.serv-label {
      margin-left: 5px;
}