<div class="container mt-5 mb-5">
    <h4>Lista de Usuários</h4>
        <p-table #dt
        [value]="users"
        [responsive]="true"
        [scrollable]="true"
        [paginator]="true" 
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[5,10,25,50]"
        styleClass="p-datatable-striped"
        
        [filterDelay]="0" 
        [globalFilterFields]="['id','nome','tel_cel','email']">
        <ng-template pTemplate="caption">
            <div class="table-header">           
                <span class="p-input-icon-left  p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input #pesquisa pInputText type="text" (input)="dt.filterGlobal(pesquisa.value, 'contains')" placeholder="Pesquisar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" class="th-id">Matricula <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nome" class="th-nome">Nome<p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="tel_cel"  class="th-tel_cel">Celular<p-sortIcon field="tel_cel"></p-sortIcon></th>
                <th pSortableColumn="email" class="th-email">E-mail <p-sortIcon field="email"></p-sortIcon></th>
                <th class="th-botoes"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td class="th-id">{{user.id_user}}</td>
                <td class="th-nome">{{user.nome}}</td>
                <td class="th-tel_cel">{{user.tel_cel}}</td>
                <td class="th-email">{{user.email}}</td>               <td class="deletar-atualizar">
                    <p-button
                        routerLink="/create-account/{{user.id_user}}" 
                        class="espaco"
                        [title] = "'Editar usuário' + user.nome" 
                        icon="pi pi-pencil"></p-button>

                    <p-button class="p-button-danger"
                        (click)="excluir(user.id_user)"
                        type="button"
                        [title] = "'Excluir usuário ' + user.nome" 
                        icon="pi pi-trash"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" routerLink="/create-account/">Novo Cadastro</p-button>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="bottom-center" key="toast"></p-toast>
