<div class="row linha">
    <div>
        <img src={{estabelecimento.foto_logomarca}} alt="logo do bar" width="200px">
    </div>
    <div class="galinha">
        <h2>{{estabelecimento.nomeFantasia}}</h2>
        <div class="estrela">
            <fa-icon [icon]="faStar" ></fa-icon>&nbsp;<fa-icon [icon]="faStar"></fa-icon>&nbsp;<fa-icon [icon]="faStar">
            </fa-icon>&nbsp;<fa-icon [icon]="faStar"></fa-icon>&nbsp;
        </div>
    </div>
</div>
<div class="galinha row">
    <div class="galeria col-md-6">
        <p-galleria
            [value]="estabelecimento.fotos"
            [numVisible]="5"
            [containerStyle]="{'max-width': '630px'}"
            [circular]="true"
            [autoPlay]="true"
            [transitionInterval]="4000">
            <ng-template pTemplate="item" let-foto>
                <img [src]="foto.url_foto" width="100%" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-foto>
                <div class="p-grid p-nogutter p-justify-center" style="overflow-x: hidden;">
                    <img [src]="foto.url_foto" width="150px" height="50px" />
                </div>
            </ng-template>
        </p-galleria>
    </div>
    <div class="grid-mapa col-md-5">
        <div>
            <embed
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.296475558763!2d-46.13250448534868!3d-23.843603777959977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cdfb8a4dbed06b%3A0x4c9b92c0a82d2457!2sAv.%20Tom%C3%A9%20de%20Souza%2C%201250%20-%20Vila%20Clais%2C%20Bertioga%20-%20SP%2C%2011250-000!5e0!3m2!1spt-BR!2sbr!4v1618324464175!5m2!1spt-BR!2sbr"
                width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" type="">
        </div>
        <div class="icon">
        <!--
            <p class="descritivo">
                {{estabelecimento.logradouro +', ' + estabelecimento.numero + ', ' + estabelecimento.bairro}}
            </p>
        -->
            <p>Acessibilidade:
                <fa-icon [icon]="faWeelchair"></fa-icon>&nbsp;
                <fa-icon [icon]="faDeaf"></fa-icon>&nbsp;
                <fa-icon [icon]="faBlind"></fa-icon>&nbsp;
            </p>

            <p>Alimentação:
                <fa-icon [icon]="faCoffee"></fa-icon>&nbsp;
                <fa-icon [icon]="faUtensils"></fa-icon>&nbsp;
                <fa-icon [icon]="faWineBottle"></fa-icon>&nbsp;&nbsp;
            </p>

            <p>Conveniências:
                <fa-icon [icon]="fawifi"></fa-icon>&nbsp;
                <fa-icon [icon]="faGlobe"></fa-icon>&nbsp;
                <fa-icon [icon]="faLuggageCart"></fa-icon>&nbsp;
                <fa-icon [icon]="faSnowflake"></fa-icon>&nbsp;
                <fa-icon [icon]="faSpa"></fa-icon>&nbsp;
                <fa-icon [icon]="faParking"></fa-icon>&nbsp;
                <fa-icon [icon]="faSmoking"></fa-icon>&nbsp;
                <fa-icon [icon]="faDumbbell"></fa-icon>&nbsp;
                <fa-icon [icon]="faConciergeBell"></fa-icon>&nbsp;
                <fa-icon [icon]="faPaw"></fa-icon>&nbsp;
            </p>
            
            <p>Meios de Pagamento:
                <fa-icon [icon]="faMoneyCheck"></fa-icon>&nbsp;
            </p>
        </div>
    </div>
</div>
<div class="row">
    <span class="p-buttonset col-md-6">
        <button pButton type="button" label="LIGAR" icon="pi pi-phone" class="p-button-sm botao"></button>
        <button pButton type="button" label="SITE" icon="pi pi-globe" class="p-button-sm botao"></button>
        <button pButton type="button" label="FACEBOOK" icon="pi pi-facebook" class="p-button-sm botao"></button>
        <button pButton type="button" label="INSTAGRAM" icon="pi pi-book" class="p-button-sm botao"></button>
    </span>
</div>
<div class="row">
    <div class="col-md-11">
        <p class="descritivo">
            {{estabelecimento.negocio}}
        </p>
    </div>
</div>