/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/* Font Family */
html, body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background: rgb(255, 255, 255);
}

/*
background-image: url("assets/imagens/seashells-background.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    */


  
/*

código para expandir carousel

.p-carousel-prev.p-link.p-ripple {
    position: absolute !important; 
    z-index: 10;
    left: 0;
}

.p-carousel-next.p-link.p-ripple {
    position: absolute !important; 
    right: 0;
    z-index: 10;
}*/