/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* Font Family */
html, body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(109, 160, 170);
}
/*
background-image: url("src/assets/imagens/background-praia.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}
*/

/*

código para expandir carousel

.p-carousel-prev.p-link.p-ripple {
    position: absolute !important; 
    z-index: 10;
    left: 0;
}

.p-carousel-next.p-link.p-ripple {
    position: absolute !important; 
    right: 0;
    z-index: 10;
}*/