w-fer {
height: 100%;
}
.carousel {
  height: 600px;
  width: 100%;
}
.card1 {
  position: relative;
  display: inline-block;
  text-align: justify;
  margin-left: 4em;
  margin-right: 2em;

}

.card2 {
  position: relative;
  display: inline-block;
  text-align: justify;
 
}

.card3{
  position: relative;
  display: inline-block;
  text-align: justify;
  margin-left: 2em;
}
.card4 {
  position: relative;
  display: inline-block;
  text-align: justify;
  margin-left: 2em;
}

.card5 {
  position: relative;
  display: inline-block;
  text-align: justify;
  margin-left: 4em;
  margin-right: 2em;

}

.card6 {
  position: relative;
  display: inline-block;
  text-align: justify;
 
}

.card7{
  position: relative;
  display: inline-block;
  text-align: justify;
  margin-left: 2em;
}
.card8 {
  position: relative;
  display: inline-block;
  text-align: justify;
  margin-left: 2em;
}
h1 {
    
    font-size: 2.5em;
    text-align: center;
  }
