<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/imagens/Escuna Netuno.jpg" class="d-block w-fer" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Escuna Netuno</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/imagens/bar do nemo.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Bar do Nemo</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<p-carousel [value]="imagens">
    <ng-template let-imagem pTemplate="item">
        <img class="carousel" [src]="imagem.url" [alt]="imagem.alt">
    </ng-template>
</p-carousel>

<h1>Vejam nossos destaques:</h1>

<p-card class="card1" header="Passeio de Escuna" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets\imagens\passeio de escuna.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis!</p>
    <ng-template pTemplate="footer">
        <p-button label="Veja mais..." icon=""></p-button>
    </ng-template>
</p-card>
<p-card class="card2" header="Pousada do Saci" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets\imagens\pousada do saci.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis!</p>
    <ng-template pTemplate="footer">
        <p-button label="Veja mais..." icon="..."></p-button>
    </ng-template>
</p-card>
<p-card class="card3" header="Hotel Serramar" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets\imagens\hotel serramar.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis!</p>
    <ng-template pTemplate="footer">
        <p-button label="Veja mais..." icon="..."></p-button>
    </ng-template>
</p-card>
<p-card class="card4" header="Praia do Cachorro" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets\imagens\praia do cachorro.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis!</p>
    <ng-template pTemplate="footer">
        <p-button label="Veja mais..." icon="..."></p-button>
    </ng-template>
</p-card>
<br>
<p-card class="card5" header="Bar do Nemo" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="\assets\imagens\bar do nemo.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis!</p>
    <ng-template pTemplate="footer">
        <p-button label="Veja mais..." icon=""></p-button>
    </ng-template>
</p-card>
<p-card class="card6" header="Tainha na Telha" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets\imagens\tainha na telha.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis!</p>
    <ng-template pTemplate="footer">
        <p-button label="Veja mais..." icon="..."></p-button>
    </ng-template>
</p-card>
<p-card class="card7" header="Feira de Artesanato" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets\imagens\ferira de artesanato.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis!</p>
    <ng-template pTemplate="footer">
        <p-button label="Veja mais..." icon="..."></p-button>
    </ng-template>
</p-card>
<p-card class="card8" header="Festival do Camarão" [style]="{width: '300px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets\imagens\festival de camarão.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
        deserunt quisquam repellat libero asperiores earum nam nobis!</p>
    <ng-template pTemplate="footer">
        <p-button label="Veja mais..." icon="..."></p-button>
    </ng-template>
</p-card>

<br>
<a routerLink="/">Voltar para a Tela inicial</a>