w-fer {
height: 100%;
}
.carousel {
  height: 600px;
  width: 100%;
}
.card-deck1 {
  position: absolute;
  display: inline-block;
  text-align: justify;
  margin-left: 2em;
  margin-top: 30px;
  align-items: center;
}

.card-deck2 {
  position: relative;
  display: inline-block;
  text-align: justify;
  margin-left: 22em;
  margin-top: 7px;
  align-items: center;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    text-align: center;
  }