<p-carousel [value]="imagens">
    <ng-template let-imagem pTemplate="item">
        <img class="carousel" [src]="imagem.url" [alt]="imagem.alt">
    </ng-template>
</p-carousel>

<h1>Vejam nossos destaques:</h1>
<div class="card-deck1">
    <div class="card" style="width: 18rem;">
        <div class="card-head">
            <img src="assets/imagens/passeio de escuna.jpg" class="card-img-top" alt="">
        </div>
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis in
                laboriosam, esse laudantium dolorum.</p>
            <a href="#" class="btn btn-primary">Ver mais...</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-head">
            <img src="assets/imagens/feira de artesanato.jpg" class="card-img-top" alt="">
        </div>
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis in
                laboriosam, esse laudantium dolorum.</p>
            <a href="#" class="btn btn-primary">Ver mais...</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-head">
            <img src="assets/imagens/festival de camarão.jpg" class="card-img-top" alt="">
        </div>
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis in
                laboriosam, esse laudantium dolorum.</p>
            <a href="#" class="btn btn-primary">Ver mais...</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-head">
            <img src="assets/imagens/festival de camarão.jpg" class="card-img-top" alt="">
        </div>
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis in
                laboriosam, esse laudantium dolorum.</p>
            <a href="#" class="btn btn-primary">Ver mais...</a>
        </div>
    </div>
</div>
<br>
<div class="card-deck2">
    <div class="card" style="width: 18rem;">
        <div class="card-head">
            <img src="assets/imagens/bar do nemo.jpg" class="card-img-top" alt="">
        </div>
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis in
                laboriosam, esse laudantium dolorum.</p>
            <a href="#" class="btn btn-primary">Ver mais...</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-head">
            <img src="assets/imagens/tainha na telha.jpg" class="card-img-top" alt="">
        </div>
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis in
                laboriosam, esse laudantium dolorum.</p>
            <a href="#" class="btn btn-primary">Ver mais...</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-head">
            <img src="assets/imagens/pousada do saci.jpg" class="card-img-top" alt="">
        </div>
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis in
                laboriosam, esse laudantium dolorum.</p>
            <a href="#" class="btn btn-primary">Ver mais...</a>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-head">
                <img src="assets/imagens/pousada do saci.jpg" class="card-img-top" alt="">
            </div>
        <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis in
                laboriosam, esse laudantium dolorum.</p>
            <a href="#" class="btn btn-primary">Ver mais...</a>
        </div>
    </div>
</div>
