<h2 class="text-center">Criar sua conta</h2>

<div class="container mt-2 mb-5 pt-5">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label>Nome</label>
      <input class="form-control" type="text" name="email" id="email" [(ngModel)]="account.name" required />
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input class="form-control" type="email" name="email" id="email" [(ngModel)]="account.email" required />
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input class="form-control" type="password" name="password" id="password" [(ngModel)]="account.password" required />
    </div>
    <div class="form-group">
      <label for="">Contato (Celular)</label>
      <input class="form-control" type="text" [(ngModel)]="user.tel_cel" name="tel_cel" required />
    </div>
    <div>
        <button type="submit"
          class="btn btn-primary btn-block"
          (click)="adicionar()"
          [disabled]="form.form.invalid">
          {{ operacao ? "Cadastrar": "Atualizar" }}
        </button>
        <!--
        <button type="button"
          class="btn btn-secondary btn-block"
          (click)="atualizar()">
          Atualizar sua conta
        </button>
        -->
    </div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast position="bottom-center" key="toast"></p-toast>
  </form>
</div>
