<h2 class="text-center">Criar sua conta</h2>

<div class="container mt-2 mb-5 pt-5">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <!-- <input type="hidden" [(ngModel)]="user.user_id"> -->
    <div class="form-group">
      <label for="">Nome</label>
      <input class="form-control" type="text" [(ngModel)]="user.nome" name="nome" required />
    </div>
    <div class="form-group">
      <label for="">E-mail</label>
      <input class="form-control" type="email" [(ngModel)]="user.email" name="email" required />
    </div>
    <div class="form-group">
      <label for="">Senha</label>
      <input class="form-control" type="password" [(ngModel)]="user.senha" name="senha" required />
    </div>
    <div class="form-group">
      <label for="">Contato (Celular)</label>
      <input class="form-control" type="text" [(ngModel)]="user.tel_cel" name="tel_cel" required />
    </div>
    <div>
        <button type="submit"
          class="btn btn-primary btn-block"
          (click)="adicionar()"
          [disabled]="form.form.invalid">
          {{ operacao ? "Cadastrar": "Atualizar" }}
        </button>
        <!--
        <button type="button"
          class="btn btn-secondary btn-block"
          (click)="atualizar()">
          Atualizar sua conta
        </button>
        -->
    </div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast position="bottom-center" key="toast"></p-toast>
  </form>
</div>
